@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body {
  margin: 0;
  height: 100vh;
  background: radial-gradient(circle at center, #070716, #000);
  overflow: hidden;
  font-family: "Kumbh Sans", sans-serif;
  color: #fff;
}


/* Login content */


p {
  color: #fff;
}
a{
  text-decoration: none;
}
section.login {
    height: 100vh;
}
.tite h2 {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}
.login-form {
  background: rgba(255, 255, 255, 0.25); /* must be transparent */
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 14px;
  padding: 50px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.25);
  border: 1px solid rgba(255,255,255,0.35);
}
.login-form p {
   font-size: 16px;
   line-height: 25px;
}
input {
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #A7A7A7;
    padding: 13px;
    background: transparent;
}
input:focus {
    outline: 1px solid #A7A7A7 !important;
}
input::placeholder {
    color: #fff;
}
  .password-box {
    position: relative;
  }
  .password-box span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
#login{
  background: #2D88D4;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  padding: 13px;
}
.sighnup-text {
   font-size: 12px !important;
}
.login-form p a {
   font-weight: bold;
}










/* ⭐ Falling Stars */
.star {
  position: fixed;
  pointer-events: none;
  border-radius: 50%;
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 0 0 6px white;
  animation: fall linear forwards;
  transition: transform 0.2s ease, box-shadow 0.2s ease, opacity 0.2s ease;
}

.star.tail {
  width: 2px !important;
  height: 60px !important;
  border-radius: 50%;
  background: linear-gradient(to bottom, white, transparent);
  box-shadow: 0 0 12px white;
  opacity: 0.7;
}

@keyframes fall {
  from {
    transform: translateY(-200px);
    opacity: 1;
  }

  to {
    transform: translateY(120vh);
    opacity: 0.3;
  }
}

/* Twinkle Animation */
@keyframes twinkle {

  0%,
  100% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }
}

.aura {
  position: fixed;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(120px);
  mix-blend-mode: screen;
  background: radial-gradient(circle,
      rgba(255, 0, 150, 0.9),
      rgba(0, 255, 255, 0.7),
      transparent 50%);
  transition: background 0.4s ease;
}